events {
    worker_connections 1024;
}

http {
    # 나중에 분석하기 좋게 클라이언트 IP가 포함된 로그 포맷 지정
    log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';

    access_log /var/log/nginx/access.log main;
    error_log /var/log/nginx/error.log warn;

    server {
        listen 80;
        server_name _;

        location /auth/ {
            proxy_pass http://serveraddress:port
        }

        location /test {
            proxy_pass http://serveraddress:port
        }
    }
}